body {
    background-color: #79b3ce;
    font-family: 'Bebas Neue';
}

#header-nav {
    background-color: #bb91f3;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    font-size: 20pt;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    font-family: 'Segoe UI';
}
.menuBox {
    background-color: #aafae2;
    height: 1500px;
}

.row {
    padding: 30px;
}

h3 {
    margin: 20px;
}

.navbar-collapse {
    background-color: gray;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    margin-bottom: -1rem;
    margin-top: 5px;
}